*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-family: "Jura", sans-serif;
  color: #221c46;
  display: flex;
}

.section {
  width: 50vw;
  height: 100vh;
}
.section__left {
  border-right: 1px solid #221c46;
}
.section__right {
  position: relative;
  background-color: #221c46;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salary__wrapper {
  width: 800px;
  margin: 4rem;
}
.salary__itemWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.salary__titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #221c46;
}
.salary__inputWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
.salary__title {
  text-transform: uppercase;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.salary__title--second {
  border-bottom: 1px solid #221c46;
}
.salary__input {
  margin-right: 1rem;
  width: 300px;
  height: 30px;
  font-family: inherit;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 4px;
  border: 1px solid #221c46;
}
.salary__input:focus {
  outline: none;
  background-color: #c7fcca;
  border: 1px solid #221c46;
}
.salary__icon {
  font-size: 2.5rem;
  cursor: pointer;
  padding: 1rem;
  transition: transform 0.4s;
  opacity: 0.8;
  transition: opacity 0.4s;
}
.salary__icon:hover {
  opacity: 1;
}
.salary__icon--delete {
  color: #ff7375;
}
.salary__resultWrapper {
  position: absolute;
  height: 150px;
  transition: opacity 0.4s;
  opacity: 0;
}
.salary__result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 3rem;
}
.salary__span {
  color: #ffffff;
  font-size: 4rem;
}

.checkbox__wrapper {
  width: 800px;
  margin: 4rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #221c46;
  padding-bottom: 2rem;
}
.checkbox__item {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.checkbox__input {
  margin-right: 3rem;
  transform: scale(1.5);
  cursor: pointer;
}
.checkbox__input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.checkbox__input:checked::before {
  background-color: #00eb5e;
  color: #221c46;
}
.checkbox__input:checked {
  background-color: #00eb5e;
  border-color: #00eb5e;
}
.checkbox__label {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.buttons__wrapper {
  width: 800px;
  margin: 4rem;
  display: flex;
}
.buttons__button {
  width: 200px;
  height: 40px;
  border: none;
  background-color: #221c46;
  color: #ffffff;
  font-family: inherit;
  margin-right: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 0.9;
  transform: opacity 0.4s, transform 0.4s;
}
.buttons__button:hover {
  opacity: 1;
}
.buttons__button:active {
  transform: scale(1.05);
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: #dbdcef;
  border-right-color: #474bff;
  animation: spinner-d3wgkg 1s infinite linear;
  transition: opacity 0.5s ease;
  opacity: 0;
}

@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}
.input-error {
  border: 1px solid #ff7375;
}/*# sourceMappingURL=main.css.map */